<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">推广员专区</strong>  <small></small></div>
</div>

<div class="am-g am-padding">
    <div class="am-u-md-12 am-cf">
            <table class="am-table am-table-striped am-table-hover table-main">
                <caption class="am-text-left am-margin-left-sm"><strong class="am-text-primary am-text-sm">分成规则</strong></caption>
                <tr>
                    <th></th>
                    <th>< 10人</th>
                    <th>10-29人</th>
                    <th>30-59人</th>
                    <th>60-99人</th>
                    <th>> 100人</th>
                </tr>
                <tr>
                    <td>最高分成</td>
                    <td>{{maxRatio.ratio_stage0 * 100}}%</td>
                    <td>{{maxRatio.ratio_stage10 * 100}}%</td>
                    <td>{{maxRatio.ratio_stage30 * 100}}%</td>
                    <td>{{maxRatio.ratio_stage60 * 100}}%</td>
                    <td>{{maxRatio.ratio_stage100 * 100}}%</td>
                </tr>
                <tr>
                    <td>当前分成</td>
                    <td>{{curRatio.ratio_stage0 * 100}}%</td>
                    <td>{{curRatio.ratio_stage10 * 100}}%</td>
                    <td>{{curRatio.ratio_stage30 * 100}}%</td>
                    <td>{{curRatio.ratio_stage60 * 100}}%</td>
                    <td>{{curRatio.ratio_stage100 * 100}}%</td>
                </tr>
            </table>


            <table class="am-table am-table-striped am-table-hover table-main">
                <caption class="am-text-left am-margin-left-sm"><strong class="am-text-primary am-text-sm">当前状态</strong></caption>
                <tr>
                    <th>一级下线</th>
                    <th>状态</th>
                    <th>活跃下线(昨日)</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td>{{childNum}}人</td>
                    <td>
                        <a href="javascript:;" id="comment">{{selfApply.stateName}}</a>
                    </td>
                    <td>{{virgousNum}}人 &nbsp; [<a href="javascript:;" onclick="showChildrenVigrous()">详情</a>]</td>
                    <td>
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button id="selfApplyBtn" class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="selfRatioApply({{uid}})" {{upButtonDisabled}}> 提升分成比例</button>
                                <input type="hidden" value="{{item.comment}}" />
                            </div>
                        </div>
                    </td>
                    {% if selfApply.state == 2 %}
                    <script>
                    $(function() {
                        $('#comment').popover({
                            content: '{{selfApply.comment}}',
                            trigger:'hover'
                        })
                    });
                    </script>
                    {% endif %}
                </tr>
            </table>
    </div>
</div>

<div class="am-g am-padding">
    <div class="am-u-md-12 am-cf">
        <div class="am-fl am-cf">
            <form class="am-form-inline am-margin-left-sm">
                <div class="am-form-group am-form-icon am-margin-right-sm">
                    <input type="text" name="search_nickname" id="search_nickname" value="{{nickname}}" class="am-form-field form_datetime" placeholder="下线昵称">
                </div>
                <button type="button" id="search_btn"  class="am-btn am-btn-default"><i class="am-icon-search"></i>&nbsp;搜索</button>
            </form>
        </div>
    </div>
</div>

<div class="am-g am-padding">
    <div class="am-u-sm-12">
        <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
            <tr>
                <th>下线昵称</th>
                <th>返现比例</th>
                <th>返现提成</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for item in list %}
            <tr>
                <td>{{item.nickname}}</td>
                <td>{{item.from_ratio}}</td>
                <td>{{item.coins_change}}</td>
                <td>
                    <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="childRatioApply({{item.from_uid}},this)" {{item.childApplyBtnDisabled}}>申请福利</button>
                        <input type="hidden" value="{{item.comment}}" />
                    </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="am-cf am-margin-left-sm">
            共 {{num_rows}} 条记录
            <div class="am-fr">
                <ul class="am-pagination">
                    {{pagiation|raw}}
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="{{constant('STATIC_HOST')}}/assets/lib/common-list.js"></script>
<script src="{{constant('STATIC_HOST')}}/assets/standalone/comissioner.js"></script>