<style>
    .am-datepicker tr.am-datepicker-header{
       color:black;
       background-color: white;
    }

    .am-datepicker td.am-datepicker-old, .am-datepicker td.am-datepicker-new{
        color:#c7c7c7;
    }

    .am-datepicker .am-datepicker-dow{
        color:black;
    }

    .am-datepicker-caret{
        border-bottom: white;
    }

</style>

<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">下线活跃度</strong>  <small></small></div>
</div>

<!--
<div class="am-g am-padding">
    <div class="am-u-md-12 am-cf">
        <div class="am-fl am-cf">
            <form class="am-form-inline">
                <div class="am-form-group am-form-icon am-margin-right-sm">
                    <label>日期</label>
                    <input type="text" name="search_create_time" id="search_create_time" value="{{search_create_time}}" class="am-form-field form_datetime" data-am-datepicker readonly placeholder="申请日期">
                </div>

                <button type="button" id="search_btn"  class="am-btn am-btn-default"><i class="am-icon-search"></i>&nbsp;搜索</button>
            </form>
        </div>
    </div>
</div>
-->

<div class="am-g am-padding">
    <div class="am-u-sm-12">
        <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
            <tr>
                <th>昵称</th>
                <th>活跃</th>
                <th>已累积经验</th>
                <th>注册时间</th>
            </tr>
            </thead>
            <tbody>
            {% for item in list %}
            <tr>
                <td>{{item.nickname}}</td>
                <td>{{item.virgous}}</td>
                <td>{{item.expr_get}}</td>
                <td>{{item.create_time}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="am-cf">
            共 {{num_rows}} 条记录
            <div class="am-fr">
                <ul class="am-pagination">
                    {{pagiation|raw}}
                </ul>
            </div>
        </div>
    </div>
</div>



<script src="{{constant('STATIC_HOST')}}/assets/standalone/vigrous_children.js"></script>
<script src="{{constant('STATIC_HOST')}}/assets/lib/common-list.js"></script>