/* Write your styles */
body{
    font-size:1.2rem;
}

.admin-main{
    background-color: #ffffff;
}

input{
    font-size: 1.2rem !important;
}

.span1{
    width: 50px !important;
}

.span2{
    width: 70px !important;
}

.span3{
    width: 90px !important;
}


.span4{
    width: 110px !important;
}

.span5{
    width: 150px !important;
}

.span6{
    width: 200px !important;
}

.span7{
    width: 400px !important;
}

input.error{
    border:1px red solid !important;
}

input.valid{
    border:1px green solid !important;
}

table{
    font-size: 1.2rem !important;
}

button{
    font-size: 1.2rem !important;
}

#nprogress .nprogress-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 2px;
    background: deepskyblue
}

#nprogress .nprogress-spinner-icon {
    width: 18px;
    height: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 2px transparent;
    border-top-color: deepskyblue;
    border-left-color: deepskyblue;
    border-radius: 50%;
    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

.am-g{
    margin-bottom:6px;
}


.am-tabs-bd {
    -moz-user-select: text !important;
    -webkit-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}


label.fix-height{
    line-height:3rem;
 }

label.error{
    margin-right: 7px;
}

#error-alert{
    display:none;
}

.am-popover-inner{
    width:400px;
}