<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg"><span class="am-badge am-badge-primary am-radius">{{user.nickname}}</span></strong> / <small>下线列表</small></div>
</div>

<div class="am-g">
<div class="am-u-md-12 am-cf">
<div class="am-g">
<div class="am-u-sm-12">
<table class="am-table am-table-striped am-table-hover table-main">
<thead>
<tr>
    <th class="table-check"><input type="checkbox" /></th>
    <th>UID</th>
    <th>账号</th>
    <th>昵称</th>
    <th>级</th>
    {% if user.comissioner == 1%}
    <th>上月获得经验值</th>
    <th>本月获得经验值</th>
    <th>总经验值</th>
    {% endif %}
</tr>
</thead>
<tbody>
{% for item in list %}
<tr>
    <td><input type="checkbox" /></td>
    <td>{{item.uid}}</td>
    <td><a href="javascript:;">{{item.login_name}}</a></td>
    <td>{{item.nickname}}</td>
    <td>{{item.leaf}}</td>
    {% if user.comissioner == 1%}
    <td>{{item.expr_get_last|default(0)}}</td>
    <td>{{item.expr_get_current|default(0)}}</td>
    <td>{{item.expr_reach|default(0)}}</td>
    {% endif %}
</tr>
{% endfor %}
</tbody>
</table>
<div class="am-cf">
    共 {{total}} 条记录
    <div class="am-fr">
        <ul class="am-pagination">
            {{pagiation|raw}}
        </ul>
    </div>
</div>
</div>
</div>
{% block script %}
<script>
    var uid = {{uid}};
</script>
<script src="{{constant('STATIC_HOST')}}/assets/standalone/children.js"></script>
<script src="{{constant('STATIC_HOST')}}/assets/lib/common-list.js"></script>
{% endblock %}