<link rel="stylesheet" href="{{constant('STATIC_HOST')}}/assets/css/select2.min.css">
<link rel="stylesheet" href="{{constant('STATIC_HOST')}}/assets/css/bootstrap-datetimepicker-master.min.css">
<link rel="stylesheet" href="{{constant('STATIC_HOST')}}/assets/css/bootstrap-datetimepicker.min.css">

<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg"><span class="am-badge am-badge-primary am-radius">{{user.nickname}}</span></strong> / <small>新蜂币日志</small></div>
</div>

<div class="am-g am-padding">
    <div class="am-u-md-12 am-cf">
        <div class="am-fl am-cf">
            <form class="am-form-inline">
                <div class="am-form-group am-form-icon am-margin-right-sm">
                    <label>开始时间</label>
                    <input type="text" name="search_change_time_start" id="search_change_time_start" value="{{search_change_time_start}}" class="am-form-field form_datetime" placeholder="申请日期">
                </div>

                <div class="am-form-group am-form-icon am-margin-right-sm">
                    <label>结束时间</label>
                    <input type="text" name="search_change_time_end" id="search_change_time_end" value="{{search_change_time_end}}" class="am-form-field form_datetime" placeholder="申请日期">
                </div>

                <button type="button" id="search_btn"  class="am-btn am-btn-default"><i class="am-icon-search"></i>&nbsp;搜索</button>
            </form>
        </div>
    </div>
</div>

<div class="am-g am-padding">
    <div class="am-u-sm-12">
        <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
            <tr>
                <th>新蜂币</th>
                <th>时间</th>
                <th>描述</th>
            </tr>
            </thead>
            <tbody>
            {% for item in list %}
            <tr>
                <td>{{item.coins_change}}</td>
                <td>{{item.change_time}}</td>
                <td>{{item.action}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="am-cf">
            共 {{total}} 条记录
            <div class="am-fr">
                <ul class="am-pagination">
                    {{pagiation|raw}}
                </ul>
            </div>
        </div>
    </div>
</div>
<script> var uid = {{user.uid}}; </script>
<script src="{{constant('STATIC_HOST')}}/assets/lib/bootstrap-datetimepicker.min.js"></script>
<script src="{{constant('STATIC_HOST')}}/assets/lib/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="{{constant('STATIC_HOST')}}/assets/standalone/newcoins_detail.js"></script>
<script src="{{constant('STATIC_HOST')}}/assets/lib/common-list.js"></script>
