{% extends 'base.html'%}


{% block title%}
充值排名
{% endblock %}

{% block css%}
<link rel="stylesheet" type="text/css" href="/media/css/select2_metro.css"/>
<link rel="stylesheet" href="/media/css/DT_bootstrap.css"/>
<link rel="stylesheet" href="/media/css/common/form_search.css"/>
<link rel="stylesheet" type="text/css" href="/media/css/addtional.css" />
{% endblock %}

{% block content%}
<!-- BEGIN PAGE HEADER-->


<div class="row-fluid">


    <div class="span12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            充值排名
            <small>用户列表</small>
        </h3>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>


</div>


<!-- END PAGE HEADER-->


<!-- BEGIN PAGE CONTENT-->

<div class="row-fluid">
<div class="span12">
    <br/>
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet box grey">
        <div class="portlet-title">
            <div class="caption"></div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>

        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover table-full-width">
                <thead>
                <tr>
                    <th>排名</th>
                    <th> ID</th>
                    <th class="hidden-phone">账号</th>
                    <th>昵称</th>
                    <th>充值金额</th>
                </tr>
                </thead>
                <tbody>
                {% for item in list%}
                <tr>
                    <td>{{loop.index}}</td>
                    <td class="highlight">
                        {{item.user_id}}
                    </td>
                    <td class="hidden-phone">
                        <a href="javascript:;">{{item.login_name}}</a>
                    </td>
                    <td class="hidden-phone">
                        <a href="javascript:;">{{item.nickname}}</a>
                    </td>
                    <td>
                        ￥{{item.consume}}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
</div>
</div>
<!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTAINER-->
</div>
{% endblock %}


{% block javascript_plugins %}
<script type="text/javascript" src="/media/js/select2.min.js"></script>
<script type="text/javascript" src="/media/js/DT_bootstrap.js"></script>
{% endblock %}

{% block javascript_custom %}
{% endblock %}