{% extends 'base.html'%}

{% block title%}
游戏服务器设定
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/media/css/select2_metro.css" />
<link rel="stylesheet" type="text/css" href="/media/css/chosen.css" />
<link rel="stylesheet" type="text/css" href="/media/css/addtional.css" />
{% endblock %}


{% block content %}
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            游戏服务器设定
            <small></small>
        </h3>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet box">

            <div class="portlet-title">
                <div class="caption"><i class="icon-reorder">基本设定</i></div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#portlet-config" data-toggle="modal" class="config"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>

            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="/system/save_server" id="form_sample_2" class="form-horizontal" method="post">
                    <input type="hidden" name="csrf_token" value="{{token}}" />
                    <div class="alert alert-error hide">
                        <button class="close" data-dismiss="alert"></button>
                        您提交的信息有错误请更正后再保存
                    </div>

                    <div class="alert alert-success hide">
                        <button class="close" data-dismiss="alert"></button>
                        保存成功!
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">新手引导得到的金币</b><span class="required">*</span></label>
                        <div class="controls">
                            <input type="text" name="RTC_tutorialBonus" data-required="1" class="span3 m-wrap" value="{{runtimeConfig.RTC_tutorialBonus}}"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">每次给好友的金币</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_coinsGivenPerTime" value="{{runtimeConfig.RTC_coinsGivenPerTime}}" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">基本低保金币</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_BasicLivingCoins" value="{{runtimeConfig.RTC_BasicLivingCoins}}" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">每日基本低保次数</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_BasicLivingCount" value="{{runtimeConfig.RTC_BasicLivingCount}}"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">包房最小时间[分钟]</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_MinRoomDur" value="{{runtimeConfig.RTC_MinRoomDur}}" />
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label"><b class="midnight">包房最大时间[分钟]</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_MaxRoomDur" value="{{runtimeConfig.RTC_MaxRoomDur}}" />
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label"><b class="midnight">积分赛默认排名个数</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_pointMatchRanksTotal" value="{{runtimeConfig.RTC_pointMatchRanksTotal}}" />
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label"><b class="midnight">积分赛积分封顶值</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_PointTOP" value="{{runtimeConfig.RTC_PointTOP}}" />
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label"><b class="midnight">房间最大容纳的人数</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_MaxRoomUsers" value="{{runtimeConfig.RTC_MaxRoomUsers}}"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">房间最大的剩余时间</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_MaxMinutesLeft" value="{{runtimeConfig.RTC_MaxMinutesLeft}}" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">房间报警时间</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_MinutesAlert" value="{{runtimeConfig.RTC_MinutesAlert}}"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">包房最小续时</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_MinAddMinutes" value="{{runtimeConfig.RTC_MinAddMinutes}}" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">初级场金币数准入</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_MinCoinsJunior" value="{{runtimeConfig.RTC_MinCoinsJunior}}" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">中级场最小金币准入</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_MinCoinsMedium" value="{{runtimeConfig.RTC_MinCoinsMedium}}" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">赢牌送电话卡</b><span class="required">*</span></label>
                        <div class="controls">
                          <select name="RTC_Send_TelCard_OnOff" class="span1">
                              {% if runtimeConfig.RTC_Send_TelCard_OnOff == 1 %}
                              <option value="1" selected="selected">是</option>
                              <option value="0">否</option>
                              {% else %}
                              <option value="1" >是</option>
                              <option value="0" selected="selected">否</option>
                              {% endif %}
                          </select>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn red">保存</button>
                        <button type="reset" class="btn">重置</button>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->



        <div class="portlet box">

            <div class="portlet-title">
                <div class="caption"><i class="icon-reorder">游戏场设定</i></div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#portlet-config" data-toggle="modal" class="config"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>

            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="/system/save_server" id="form_sample_game" class="form-horizontal" method="post">
                    <input type="hidden" name="csrf_token" value="{{token}}" />
                    <div class="alert alert-error hide">
                        <button class="close" data-dismiss="alert"></button>
                        您提交的信息有错误请更正后再保存
                    </div>

                    <div class="alert alert-success hide">
                        <button class="close" data-dismiss="alert"></button>
                        保存成功!
                    </div>

                    <br/><br/><span class="label label-important">奖励设置-初级</span><br/><br/>
                    <div class="control-group">
                        <label class="control-label"><b class="midnight">最小胜利局数</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_Junior_Prize_Begin_Min" value="{{runtimeConfig.RTC_Junior_Prize_Begin_Min|default(3)}}"/>
                            <br/><code>默认3</code>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">最大胜利局数</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_Junior_Prize_Begin_MAX" value="{{runtimeConfig.RTC_Junior_Prize_Begin_MAX|default(17)}}"/>
                            <br/><code>默认17</code>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">局数间隔</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_Junior_Prize_Begin_INC" value="{{runtimeConfig.RTC_Junior_Prize_Begin_INC|default(1)}}"/>
                            <br/><code>默认1</code>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">获得奖励类型</b><span class="required">*</span></label>
                        <div class="controls">
                            <select name="RTC_Junior_Prize_Type">
                                {% if runtimeConfig.RTC_Junior_Prize_Type == 52 %}
                                <option value="52" selected="selected">一块钱电话充值卡</option>
                                {% else %}
                                <option value="52">一块钱电话充值卡</option>
                                {% endif %}

                                {% if runtimeConfig.RTC_Junior_Prize_Type == 53 %}
                                <option value="53" selected="selected">两块钱电话充值卡</option>
                                {% else %}
                                <option value="53">两块钱电话充值卡</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">获得奖励数量</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_Junior_Prize_Num" value="{{runtimeConfig.RTC_Junior_Prize_Num|default(1)}}"/>
                            <br/><code>默认1</code>
                        </div>
                    </div>

                    <br/><br/><span class="label label-important">奖励设置-中级</span><br/><br/>
                    <div class="control-group">
                        <label class="control-label"><b class="midnight">最小胜利局数</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_Medium_Prize_Begin_Min" value="{{runtimeConfig.RTC_Medium_Prize_Begin_Min|default(15)}}"/>
                            <br/><code>默认15</code>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">最大胜利局数</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_Medium_Prize_Begin_MAX" value="{{runtimeConfig.RTC_Medium_Prize_Begin_MAX|default(15)}}"/>
                            <br/><code>默认15</code>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">局数间隔</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_Medium_Prize_Begin_INC" value="{{runtimeConfig.RTC_Medium_Prize_Begin_INC|default(1)}}"/>
                            <br/><code>默认1</code>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">获得奖励类型</b><span class="required">*</span></label>
                        <div class="controls">
                            <select name="RTC_Medium_Prize_Type">
                                {% if runtimeConfig.RTC_Medium_Prize_Type == 52 %}
                                <option value="52" selected="selected">一块钱电话充值卡</option>
                                {% else %}
                                <option value="52">一块钱电话充值卡</option>
                                {% endif %}

                                {% if runtimeConfig.RTC_Medium_Prize_Type == 53 %}
                                <option value="53" selected="selected">两块钱电话充值卡</option>
                                {% else %}
                                <option value="53">两块钱电话充值卡</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">获得奖励数量</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_Medium_Prize_Num" value="{{runtimeConfig.RTC_Medium_Prize_Num|default(1)}}"/>
                            <br/><code>默认1</code>
                        </div>
                    </div>

                    <br/><br/> <span class="label label-important">税点</span><br/><br/>
               <!--     <div class="control-group">
                        <label class="control-label"><b class="midnight">红中发财杠</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="" value=""/>
                            <br/><code>数量>=0</code>
                        </div>
                    </div>-->

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">赖子皮杠-初级</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_Junior_TaxRate" value="{{runtimeConfig.RTC_Junior_TaxRate}}"/>
                            <br/><code>数量>=0</code>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">赖子皮杠-中级</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_Medium_TaxRate" value="{{runtimeConfig.RTC_Medium_TaxRate}}"/>
                            <br/><code>数量>=0</code>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">钻石场</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_DiaTable_TaxRate" value="{{runtimeConfig.RTC_DiaTable_TaxRate}}"/>
                        </div>
                    </div>

                    <br/><br/> <span class="label label-important">钻石场设置</span><br/><br/>
                    <div class="control-group">
                        <label class="control-label"><b class="midnight">钻石场准入数量</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_DidTable_Enter_Diamonds" value="{{runtimeConfig.RTC_DidTable_Enter_Diamonds|default(800)}}"/>
                            <br/><code>数量>=0</code>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">钻石场起胡番数</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_DiaTable_CanWin_Double" value="{{runtimeConfig.RTC_DiaTable_CanWin_Double|default(5)}}"/>
                            <br/><code>番数范围0-10</code>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">钻石场倍数</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_DiaTable_Rate" value="{{runtimeConfig.RTC_DiaTable_Rate|default(1)}}"/>
                            <br/><code>倍数1-88</code>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">钻石场底</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_DiaTable_BasePoint" value="{{runtimeConfig.RTC_DiaTable_BasePoint|default(1)}}"/>
                            <br/><code>1-100</code>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">钻石场封顶</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="RTC_DiaTable_WinTop" value="{{runtimeConfig.RTC_DiaTable_WinTop|default(400)}}"/>
                            <br/><code>大于0</code>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">钻石场作弊开始阀值</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="cheat_value_begin_dia" value="{{runtimeConfig.cheat_value_begin_dia}}"/>
                            <br/><code>-99999999～99999999</code>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b class="midnight">钻石场作弊停止阀值</b><span class="required">*</span></label>
                        <div class="controls">
                            <input class="span3 m-wrap" name="cheat_value_end_dia" value="{{runtimeConfig.cheat_value_end_dia}}"/>
                            <br/><code>-99999999～99999999</code>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn red">保存</button>
                        <button type="reset" class="btn">重置</button>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript_plugins%}
<script type="text/javascript" src="/media/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/media/js/additional-methods.min.js"></script>
<script type="text/javascript" src="/media/js/select2.min.js"></script>
<script type="text/javascript" src="/media/js/chosen.jquery.min.js"></script>
{% endblock  %}

{% block javascript_custom %}
<script src="/media/js/private/game_server.js"></script>
<script>
    var success = {{success|default('-1')}};
    $(function(){
        FormValidation.init();
        if(success == 1)
            $('.alert-success').show();
    })
</script>
{% endblock %}

