<div class="floatCode" data-spy="affix" data-offset-top="445">
    <div class="p5">
        <img src="{{ constant('STATIC_HOST') }}/images/code.png" alt="">
    </div>
    <a href="http://7mnoaz.com2.z0.glb.qiniucdn.com/MjMobile_Official_27.apk?" class="btn btn-block btn-info">安卓版下载</a>
</div>

<div class="floatCode" data-spy="affix" data-offset-top="445" style="top:170px;">
    <div class="p5">
        <img src="{{ constant('STATIC_HOST') }}/images/ios.png" alt="">
    </div>
    <a href="https://dn-newbee299.qbox.me/MjMobile.ipa" class="btn btn-block btn-info" style="background-color:rgb(247,170,65) !important;border-color:rgb(247,170,65) !important">ios版下载</a>
</div>

<div class="floatCode" data-spy="affix" data-offset-top="445" style="top:340px;">
    <div class="p5">
        <img src="{{ constant('STATIC_HOST') }}/images/readme.png" alt="">
    </div>
</div>

<!--
<div class="floatCode" data-spy="affix" data-offset-top="445" style="top:170px;">
<div class="p5">
    <img src="{{ constant('STATIC_HOST') }}/images/code1.png" alt="">
</div>
<a href="{{constant('STATIC_HOST')}}/cps" class="btn btn-block btn-info" style="background-color:rgb(247,170,65) !important;border-color:rgb(247,170,65) !important">立即领取</a>
</div>
-->
