<div class="col-xs-4">
    <ul class="nav nav-tabs nav-justified grids" role="tablist">
        <li class="text-center bg-blue"><a>下载专区</a></li>
        <li class="bg-green"><a href="http://7mnoaz.com2.z0.glb.qiniucdn.com/MjMobile_Official_27.apk?" target="_blank"><span class="icon android"></span></a></li>
        <li class="bg-blueL"><a href="https://dn-newbee299.qbox.me/MjMobile.ipa" target="_blank"><span class="icon apple"></span></a></li>
    </ul>
    <div class="mt10">
        <div class="panel p10 inner">
            <input type="text" id="datetimepicker3"/>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="arrowU"></span><span><span class="icon icon-note"></span>活动内容</span>
                    </h3>
                </div>
                <div class="panel-body text-grey" id="dateText">
                </div>
            </div>
            <div class="panel panel-info mbn">
                <div class="panel-heading">
                    <h3 class="panel-title">客服专区</h3>
                </div>
                <div class="panel-body text-center">
                    <h1 class="phoneNumb">027-59817413</h1>
                    <p><span class="icon icon-qq"></span><a href="http://shang.qq.com/wpa/qunwpa?idkey=cccb0ff5e146f7ad2f26d700d1b1fa3a24bc82bdb115c6833bcb47bba52de14f" target="_blank">129166897 武汉麻将班子群</a></p>
                </div>
            </div>
        </div>
    </div>
</div>