{% extends 'baseService.html' %}

{% block title %}
武汉麻将-客户服务
{% endblock %}

{% block keywords %}
武汉麻将-客户服务
{% endblock %}

{% block description %}
武汉麻将-客户服务
{% endblock %}


{% block content %}
<div class="col-xs-7">
    <div class="panel p15 inner pb50">
        <h4 class="mTitle">自助服务
            <small class="text-blue"><span class="pl5 pr5 text-grey">|</span>{{func_title}}</small>
        </h4>
        <div class="alert alert-info">
            <div class="p30">
                <span class="text-orgD">{{result_content}}</span>
            </div>
        </div>

    </div>
</div>
{% endblock %}
