{% extends 'baseService.html' %}

{% block title %}
武汉麻将-客户服务
{% endblock %}

{% block keywords %}
武汉麻将-客户服务
{% endblock %}

{% block description %}
武汉麻将-客户服务
{% endblock %}

{% block css %}
<link href="{{ constant('STATIC_HOST') }}/css/formError.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-xs-7">
    <div class="panel p15 inner pb50">
        <h4 class="mTitle">自助服务
            <small class="text-blue"><span class="pl5 pr5 text-grey">|</span>找回消费密码</small>
        </h4>
        <div>
            <ul class="nav nav-tabs nav02" role="tablist">
                <li><a>账号密码相关</a></li>
            </ul>
            <div class="p15">
                <div class="alert alert-info">
                    <div class="p30">
                        <span class="text-orgD">一封确认邮件已发送到您的邮箱。点击邮件内的链接来完成消费密码取回操作。系统会在操作的最后一步提示您创建一个新的密码。</span>
                        <br/><br/>
                        <input type="button" onclick="loginMail('{{email}}')" id="" class="submit_3 btn btn-info" value="立即登录邮箱" />
                        <a href="" style="display:none" target="_blank" id="goMailLink"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    var token = '';
</script>
<script src="{{ constant('STATIC_HOST') }}/js/common/jquery.validate.min.js"></script>
<script src="{{ constant('STATIC_HOST') }}/js/user.findPayPwd.js"></script>
{% endblock %}
