{% extends 'baseService.html' %}

{% block title %}
武汉麻将-客户服务
{% endblock %}

{% block keywords %}
武汉麻将-客户服务
{% endblock %}

{% block description %}
武汉麻将-客户服务
{% endblock %}

{% block css %}
<link href="{{ constant('STATIC_HOST') }}/css/formError.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-xs-7">
    <div class="panel p15 inner pb50">
        <h4 class="mTitle">自助服务
            <small class="text-blue"><span class="pl5 pr5 text-grey">|</span>找回消费密码</small>
        </h4>
        <div>
            <ul class="nav nav-tabs nav02" role="tablist">
                <li><a>账号密码相关</a></li>
            </ul>
            <div class="p15">
                <form class="form-horizontal pt30" role="form" id="findPwdForm3" action="/user/payPassword/4"
                      method="post">
                    <input type="hidden" name="csrf_token" value="{{token}}" />
                    <input type="hidden" name="n" value="{{n}}" />
                    <input type="hidden" name="t" value="{{t}}" />
                    <input type="hidden" name="hid_password" id="hid_password" value="" />
                    <div class="form-group">
                        <label for="" class="col-xs-3 control-label">消费密码：</label>
                        <div class="col-xs-6">
                            <input type="password" class="form-control" id="password" name="password"  placeholder="6-16位字母、数字" >
                        </div>
                        <div class="col-xs-4">
                            <!-- <div class="alert alert-danger mbn font12">两次密码输入不一致</div> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-xs-3 control-label">确认消费密码：</label>
                        <div class="col-xs-6">
                            <input type="password" class="form-control" id="re_password" name="re_password" placeholder="6-16位字母、数字" >
                        </div>
                        <div class="col-xs-4">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-6">
                            <button type="submit" class="btn btn-info" id="sbBtn">确认修改</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    var token = '{{token}}';
</script>
<script src="{{ constant('STATIC_HOST') }}/js/common/md5.min.js"></script>
<script src="{{ constant('STATIC_HOST') }}/js/common/jquery.validate.min.js"></script>
<script src="{{ constant('STATIC_HOST') }}/js/user.findPayPwd.js"></script>
{% endblock %}
