{% extends 'baseService.html' %}

{% block title %}
武汉麻将-客户服务
{% endblock %}

{% block keywords %}
武汉麻将-客户服务
{% endblock %}

{% block description %}
武汉麻将-客户服务
{% endblock %}

{% block css %}
<link href="{{ constant('STATIC_HOST') }}/css/formError.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-xs-7">
    <div class="panel p15 inner pb50">
        <h4 class="mTitle">自助服务
            <small class="text-blue"><span class="pl5 pr5 text-grey">|</span>找回消费密码</small>
        </h4>
        <div>
            <ul class="nav nav-tabs nav02" role="tablist">
                <li><a>账号密码相关</a></li>
            </ul>
            <div class="p15">
                <form class="form-horizontal pt30" role="form" id="findPwdForm1" action="/user/payPassword/2"
                      method="post">
                    <input type="hidden" name="csrf_token" value="{{token}}" />
                    <div class="form-group">
                        <label for="" class="col-xs-2 control-label">账号：</label>

                        <div class="col-xs-6">
                            <input type="text" class="form-control" id="login_name0" name="login_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-xs-2 control-label">认证信息：</label>

                        <div class="col-xs-6">
                            <input type="text" class="form-control" id="email_or_phone" name="email_or_phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-6">
                            <button type="submit" class="btn btn-info" id="sbBtn">下一步</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    var token = '{{token}}';
</script>
<script src="{{ constant('STATIC_HOST') }}/js/common/jquery.validate.min.js"></script>
<script src="{{ constant('STATIC_HOST') }}/js/user.findPayPwd.js"></script>
{% endblock %}
