{% extends 'baseService.html' %}

{% block title %}
武汉麻将-客户服务
{% endblock %}

{% block keywords %}
武汉麻将-客户服务
{% endblock %}

{% block description %}
武汉麻将-客户服务
{% endblock %}


{% block content %}
<div class="col-xs-7">
    <div class="panel p15 inner pb50">
        <h4 class="mTitle">自助服务</h4>

        <div class="">
            <ul class="nav nav-tabs nav02" role="tablist">
                <li><a>账号密码相关</a></li>
            </ul>
            <div class="p15">
                <div class="row">
                    <div class="col-xs-4"> <p class="p10">
                        {% if is_login == 0%}
                            <a href="#tops" onclick="$('#loginPannel').trigger('mouseover')">
                        {% else %}
                            <a href="/userAuth/idCard">
                        {% endif %}

                        {% if userAuth[1]!=1 %}
                        <img src="{{constant('STATIC_HOST')}}/images/icons/id-unauth.png" />
                        {% else %}
                        <img src="{{constant('STATIC_HOST')}}/images/icons/id-auth.png" />
                        {% endif %}
                        防沉迷认证
                            </a></p></div>

                    <div class="col-xs-4">
                        <p class="p10">
                            {% if is_login == 0%}
                            <a href="#tops" onclick="$('#loginPannel').trigger('mouseover')">
                                {% else %}
                                <a href="/userAuth/mobile">
                            {% endif %}

                            {% if userAuth[3]!=1 %}
                            <img src="{{constant('STATIC_HOST')}}/images/icons/phone-unauth.png" />
                            {% else %}
                            <img src="{{constant('STATIC_HOST')}}/images/icons/phone-auth.png" />
                            {% endif %}
                            手机认证</a></p>
                    </div>

                    <div class="col-xs-4">
                        <p class="p10">
                            {% if is_login == 0%}
                            <a href="#tops" onclick="$('#loginPannel').trigger('mouseover')">
                                {% else %}
                                <a href="/userAuth/email">
                            {% endif %}

                            {% if userAuth[2]!=1 %}
                            <img src="{{constant('STATIC_HOST')}}/images/icons/email-unauth.png" />
                            {% else %}
                            <img src="{{constant('STATIC_HOST')}}/images/icons/email-auth.png" />
                            {% endif %}
                            邮箱认证</a></p>
                    </div>

                    {% if is_login == 0%}
                    <div class="col-xs-4">
                        <p class="p10"><a href="/user/password/1"><span class="icon circle-lock"></span>找回密码</a> </p>
                    </div>
                    {% endif %}

                    <div class="col-xs-4">
                        <p class="p10"><a href="/service/sus"><span class="icon circle-note"></span>账号申诉</a></p>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs nav02" role="tablist">
                <li><a>充值相关</a></li>
            </ul>
            <div class="p15">
                <div class="row">
                    <div class="col-xs-4">
                        <p class="p10"><a href="/payment/prepare/0"><span class="icon circle-dollar"></span>充值</a></p>

                    </div>
                    <div class="col-xs-4">
                        {% if is_login == 0%}
                        <p class="p10"><a href="#tops" onclick="$('#loginPannel').trigger('mouseover')"><span class="icon circle-card"></span>我的充值记录</a></p>
                        {% else %}
                        <p class="p10"><a href="/service/rl"><span class="icon circle-card"></span>我的充值记录</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs nav02" role="tablist">
                <li><a>游戏相关</a></li>
            </ul>
            <div class="p15">
                <div class="row">
                    <div class="col-xs-4">
                        {% if is_login == 0%}
                        <p class="p10"><a href="#tops" onclick="$('#loginPannel').trigger('mouseover')"><span class="icon circle-lock"></span>意见反馈</a></p>
                        {% else %}
                        <p class="p10"><a href="/service/fb"><span class="icon circle-lock"></span>意见反馈</a></p>
                        {% endif %}
                    </div>
                    <div class="col-xs-4">
                        {% if is_login == 0%}
                        <p class="p10"><a href="#tops" onclick="$('#loginPannel').trigger('mouseover')"><span class="icon circle-phone"></span>作弊举报</a></p>
                        {% else %}
                        <p class="p10"><a href="/service/tf"><span class="icon circle-phone"></span>作弊举报</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
