{% extends 'baseService.html' %}

{% block title %}
武汉麻将-客户服务
{% endblock %}

{% block keywords %}
武汉麻将-客户服务
{% endblock %}

{% block description %}
武汉麻将-客户服务
{% endblock %}

{% block css %}
<link href="{{ constant('STATIC_HOST') }}/css/formError.css" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="col-xs-7">
    <div class="panel p15 inner pb50">
        <h4 class="mTitle">自助服务
            <small class="text-blue"><span class="pl5 pr5 text-grey">|</span>账号申诉</small>
        </h4>
        <div class="pl10 pr30 pt30">
            <form class="form-horizontal" role="form" id="suspendForm" action="/service/usersuspend" method="post">
                <input type="hidden" value="{{token}}" name="csrf_token" />
                <div class="form-group">
                    <label for="" class="col-xs-2 control-label">用户名：</label>

                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="suspend_name" name="suspend_name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-xs-2 control-label">封停时间：</label>

                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="suspend_time" name="suspend_time" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" readonly="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-xs-2 control-label">手机号：</label>

                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="suspend_mobile" name="suspend_mobile">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-xs-2 control-label">详细描述：</label>

                    <div class="col-xs-6">
                        <textarea name="suspend_content" id="suspend_content" rows="3" class="form-control"
                                  value="请尽可能恩地提供详细明确的信息，以便我们查证处理。最多500字"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-6">
                        <button type="submit" class="btn btn-info">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ constant('STATIC_HOST') }}/js/common/jquery.validate.min.js"></script>
<script src="{{ constant('STATIC_HOST')}}/js/My97DatePicker/WdatePicker.js" ></script>
<script src="{{ constant('STATIC_HOST') }}/js/user.suspend.js"></script>
{% endblock %}