{% extends 'basePersonnal.html' %}

{% block title %}
武汉麻将-个人中心
{% endblock %}

{% block keywords %}
武汉麻将-个人中心
{% endblock %}

{% block description %}
武汉麻将-个人中心
{% endblock %}

{% block content %}
            <div class="col-xs-10">
              <div class="panel p15 inner pb50">
                <h4 class="mTitle">我的订单<span style="float:right;font-size:12px;"><a href="/service/fb">意见反馈</a></span></h4>
                <div class="">
                  <table class="table table-border table-hover">
                    <thead>
                      <tr>
                        <th width="10%">订单号</th>
                        <th>商品信息</th>
                        <th width="14%">时间</th>
                        <th width="12%">订单状态</th>
                        <th width="15%">操作</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for item in orderlist %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.product_name}}</td>
                        <td>{{item.create_at}}</td>
                        <td>{{item.status}}</td>
                        <td class="text-center"><a href="javascript:showDetail({{item.id}})" class="btn btn-sm btn-danger" id="detailsBtn">详情</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                  <div class="text-right">
                      <ul class="pagination">
                        {{pagiation|raw}}
                      </ul>
                  </div>
                </div>
              </div>
            </div>

<!-- 详情 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" style="width:600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="">订单详情</h4>
            </div>
            <div class="modal-body">
                <div class="p10">
                    <table class="table table-border table-hover">
                        <tbody>
                        <tr>
                            <td>收件人姓名：</td>
                            <td id="name">/</td>
                            <td>联系方式：</td>
                            <td id="mobile">/</td>
                        </tr>
                        <tr>
                            <td>快递单号：</td>
                            <td colspan="3" id="express">/</td>
                        </tr>
                        <tr>
                            <td>地址：</td>
                            <td colspan="3" id="address">/</td>
                        </tr>
                        <tr>
                            <td>订单号：</td>
                            <td id="order_id">/</td>
                            <td>获取方式：</td>
                            <td>兑换</td>
                        </tr>
                        <tr>
                            <td>商品名称：</td>
                            <td id="product_name">/</td>
                            <td>订单消耗：</td>
                            <td id="cost_name">/</td>
                        </tr>
                        <tr>
                            <td>订单奖励：</td>
                            <td id="add_name">/</td>
                            <td>订单状态：</td>
                            <td><span id="status">/</span></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center mt20">
                        <a href="#" class="btn btn-info" data-dismiss="modal" id="okBtn">确定</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /modal -->
{% endblock %}
{% block script %}
<script src="{{ constant('STATIC_HOST') }}/js/user_order.js"></script>
{% endblock %}

