{% extends 'basePersonnal.html' %}

{% block title %}
武汉麻将-个人中心
{% endblock %}

{% block keywords %}
武汉麻将-个人中心
{% endblock %}

{% block description %}
武汉麻将-个人中心
{% endblock %}

{% block content %}

{% if action == "i" %}
<div class="col-xs-7">
    <div class="panel p15 inner pb50">
        <h4 class="mTitle">账号信息<small class="text-blue"><span class="pl5 pr5 text-grey">|</span>防沉迷认证</small></h4>
        <div>
            <div class="alert alert-info">
                <div class="p15 text-center">
                    防沉迷已认证！
                </div>
            </div>
            <p>身份证号：{{idCard}}</p>
            <blockquote class="font14 bg-grey">
                <div class="p15">
                    <ol>
                        <li>身份证信息一旦绑定将无法修改。</li>
                        <li>身份证号码可以提高您账号的安全性。</li>
                        <li>身份证号码是作为防沉迷系统判定的唯一标准。</li>
                        <li>保护未成年人身心健康，未满18岁的用户将受到防沉迷系统的限制。</li>
                        <li>在进行游戏的过程中，系统会提示您的累计在线时间:<br>
                            <p>累计游戏时间超过 3 小时，游戏收益(经验，金钱)减半。<br>
                                累计游戏时间超过 5 小时，游戏收益(经验，金钱)为零。</p>
                        </li>
                    </ol>
                </div>
            </blockquote>
        </div>
    </div>
</div>
{% endif %}

{% if action == "m" %}
<div class="col-xs-7">
    <div class="panel p15 inner pb50">
        <h4 class="mTitle">账号信息
            <small class="text-blue"><span class="pl5 pr5 text-grey">|</span>手机认证</small>
        </h4>
        <div>
            <div class="alert alert-info">
                <div class="p10">
                    您已经认证手机：<span class="text-org">{{mobile}}</span>,如需更改手机号则进行如下流程:
                    1:解绑手机号
                    2:重新认证手机号
                </div>
            </div>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="" class="col-xs-3 control-label">原手机号：</label>

                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="mobile" placeholder="请输入认证手机号">

                        <p class="help-block">（请输入11位有效手机号码）</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-3 col-xs-6">
                        <button type="button" class="btn btn-info" id="authBtn" onclick="unAuthSms()">更改手机</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}

{% if action == "e" %}
<div class="col-xs-7">
    <div class="panel p15 inner pb50">
        <h4 class="mTitle">账号信息<small class="text-blue"><span class="pl5 pr5 text-grey">|</span>邮箱认证</small></h4>
        <div>
            <div class="alert alert-info">
                <div class="p10">
                  您已成功认证邮箱<span class="text-org">{{email}}</span>，请牢记! 如需更改邮箱,请走如下流程:
                    1.解绑邮箱 2.重新认证邮箱
                </div>
            </div>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="email" placeholder="请输入认证邮箱地址">
                    </div>
                    <div class="col-xs-6"><button type="button" id="authBtn" onclick="unAuthEmail()" class="btn btn-info">更改邮箱</button></div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script src="{{ constant('STATIC_HOST') }}/js/user.unAuth.js"></script>
{% endblock %}