{% extends 'base.html' %}


{% block content%}
<div class="row" >
    <h3><small class="badge badge-info">网点商家列表</small></h3>
    <div class="col-xs-10">
       <!-- <form class="form-inline" action="/articles/list">
            <div class="form-group">
                <label style="font-weight: bold;"  for="category_id">栏目&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <select name="search_category_id" class="form-control" style="width: 100px;height:30px;" >
                    <option value="-1">全部</option>
                </select>
            </div>
            <div class="form-group"><input type="hidden" value="1005" name="r"/></div>
            <button type="submit"  class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>搜索</button>
        </form>-->
    </div>
    <div class="col-xs-2 text-right">
        <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/admin/add'">添加</button>
    </div><br/><br/><br/>
    <table class="table table-hover table-bordered table-striped">
        <tr>
            <th width="200">帐号</th>
            <th width="200">网点名称</th>
            <th>地址</th>
            <th width="200">手机号</th>
            <th width="200">操作</th>
        </tr>
        {% for item in list %}
        <tr>
            <td>{{item.account}}</td>
            <td>{{item.name}}</td>
            <td>{{item.address}}</td>
            <td>{{item.mobile}}</td>
            <td>
                <button  class="btn btn-xs  btn-primary" type="button" onclick="window.location.href='/admin/add/{{item.id}}';">编辑</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-xs  btn-danger" onclick="del({{item.id}})">删除</button>
            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="pagination">
            {{pagiation|raw}}
    </div>
</div>

<script>
    function del(id){
            if(confirm('管理员大大...真的要删除这条萌萌的数据吗?')){
                window.location.href="/admin/del/"+id;
            }
    }
</script>
{% endblock %}