{% extends 'base.html'%}


{% block title%}
钻石场统计
{% endblock %}

{% block css%}
<link rel="stylesheet" type="text/css" href="/media/css/select2_metro.css"/>
<link rel="stylesheet" href="/media/css/DT_bootstrap.css"/>
<link rel="stylesheet" href="/media/css/common/form_search.css"/>
<link rel="stylesheet" type="text/css" href="/media/css/addtional.css"/>
<link rel="stylesheet" type="text/css" href="/media/css/datepicker.css"/>
{% endblock %}

{% block content%}
<!-- BEGIN PAGE HEADER-->


<div class="row-fluid">


    <div class="span12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            钻石场统计
            <small></small>
        </h3>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>


</div>


<!-- END PAGE HEADER-->


<!-- BEGIN PAGE CONTENT-->

<div class="row-fluid">
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption"></div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>

        <span class="label label-important">总览:</span><br/><br/>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>钻石场总收入</th>
                    <th class="hidden-phone">台位费总收入</th>
                    <th>奖券总支出</th>
                    <th>大奖中奖几率</th>
                    <th>小奖中奖几率</th>
                </tr>
                </thead>
                <tbody>
                <td>{{total.total_in}}</td>
                <td class="hidden-phone">{{total.total_table_in}}</td>
                <td>{{total.total_out}}</td>
                <td>{{total.bigLotteryRatio}}</td>
                <td>{{total.smallLotteryRatio}}</td>
                </tbody>
            </table>
        </div>
        <br/><br/>

        <span class="label label-important">开奖明细-大奖:</span><br/><br/>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>uid</th>
                    <th class="hidden-phone">昵称</th>
                    <th>时间</th>
                    <th>奖券</th>
                </tr>
                </thead>
                <tbody id="bigTbody">

                </tbody>
            </table>
            <div class="pagination">
                    <ul   id="page-big"></ul>
            </div>
        </div>
        <br/><br/>

        <span class="label label-important">开奖明细-小奖:</span><br/><br/>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>uid</th>
                    <th class="hidden-phone">昵称</th>
                    <th>时间</th>
                    <th>奖券</th>
                </tr>
                </thead>
                <tbody id="smallTbody">
                </tbody>
            </table>
            <div class="pagination">
                    <ul  id="page-small"></ul>
            </div>
        </div>
        <br/><br/>

        <div class="portlet-body">
            <form action="/datas/diamondTable" method="post" class="form-inline">
       <label> 间隔:</label>
         <select name="precision" class="span1">
             {% if precision == 'minute' %}
                <option value="minute" selected="selected">5分钟</option>
                <option value="day">天</option>
             {% else %}
                 <option value="minute">5分钟</option>
                 <option value="day" selected="selected">天</option>
             {% endif %}
         </select>
        <input type="submit" value="查询" class="btn btn-default"/>
            </form>
        </div>
        <br/><br/>

        <span class="label label-important">场数:</span><br/><br/>
        <div class="portlet-body">
            <div id="chart1" style="width:100%;height:230px;"></div>
        </div>
        <br/><br/>

        <span class="label label-important">奖池变化:</span><br/><br/>
        <div class="portlet-body">
            <div id="chart2" style="width:100%;height:230px;"></div>
        </div>
        <br/><br/>
    </div>
</div>


<!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTAINER-->
</div>
<input type="hidden" id="dateLine" value="{{dateLine}}" /><!--时间线-->
<input type="hidden" id="data" value="{{diamondTable}}" /><!--数据-->
{% endblock %}


{% block javascript_plugins %}
<script type="text/javascript" src="/media/js/select2.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/media/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="/media/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/media/js/bootstrap-datepicker.zh-CN.js"></script>
<script type="text/javascript" src="/media/js/echarts/echarts.js"></script>
<script type="text/javascript" src="/media/js/private/chart_datas_diamond_table.js"></script>
{% endblock %}

{% block javascript_custom %}
<script>

    var coupon = {{coupon}};

    $(function(){
        bigLotteryPage();
        smallLotteryPage();
    })

    function bigLotteryPage(){
            nextPage(1,3);
    }

    function smallLotteryPage(){
            nextPage(1,2);
    }

    function nextPage(page,search_type){
        $.get('/datas/diamondTableDetail/'+page,'search_type='+search_type,function(data){
                var response = eval('('+data+')');
                console.log(response.data);
                var tbody = '';
                $.each(response.data.list,function(i){
                    var json = eval('('+response.data.list[i].json+')');
                    tbody +=  '<tr>';
                    tbody += '<td>'+json.uid+'</td>';
                    tbody += '<td>'+json.nick+'</td>';
                    tbody += '<td>'+response.data.list[i].begin_time+'</td>';
                    tbody += '<td>'+response.data.list[i].zj_amount+'</td>';
                    tbody += '</tr>';
                });

                if(search_type == 2){
                        $("#page-small").html(response.data.pagiation);
                        $("#smallTbody").html(tbody);
                }else {
                        $("#page-big").html(response.data.pagiation);
                        $("#bigTbody").html(tbody);
                }
        });
    }
</script>
{% endblock %}