{% extends 'base.html'%}


{% block title%}
启动次数
{% endblock %}

{% block css%}
<link rel="stylesheet" type="text/css" href="/media/css/select2_metro.css"/>
<link rel="stylesheet" href="/media/css/DT_bootstrap.css"/>
<link rel="stylesheet" href="/media/css/common/form_search.css"/>
<link rel="stylesheet" type="text/css" href="/media/css/addtional.css" />
<link rel="stylesheet" type="text/css" href="/media/css/datepicker.css" />
{% endblock %}

{% block content%}
<!-- BEGIN PAGE HEADER-->


<div class="row-fluid">


    <div class="span12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            钻石消耗
            <small></small>
        </h3>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>


</div>


<!-- END PAGE HEADER-->


<!-- BEGIN PAGE CONTENT-->

<div class="row-fluid">
    <div class="span12">
        <!--表格查询区-->
        <form class="form-actions" action="/datas/diamondCost/53" method="get" id="search_form">
            <div class="control-group search_form_wrap span4">
                <label class="control-label span2"><b class="midnight">时间起始</b></label>
                <div class="controls">
                    <div class="input-append date form_datetime">
                        <input size="16" type="text" value="{{search_start_time|date('Y-m-d')}}" name="start_time" id="start_time" readonly class="m-wrap span2">
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="control-group search_form_wrap span4">
                <label class="control-label span2"><b class="midnight">时间结束</b></label>
                <div class="controls">
                    <div class="input-append date form_datetime">
                        <input size="16" type="text" value="{{search_end_time|date('Y-m-d')}}" name="end_time" id="end_time" readonly class="m-wrap span2">
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="control-group search_form_wrap span2">
                <label class="control-label"></label>
                <div class="controls">
                </div>
            </div>
            <div class="control-group search_form_wrap span4">
                <label class="control-label span2"><b class="midnight">精度</b></label>
                <div class="controls">
                    <select class="span2 m-wrap" name="precision" id="precision">
                        {% for key,val in precisionlist %}
                            {% if key == search_precision %}
                                <option value="{{key}}" selected="selected">{{val}}</option>
                            {% else %}
                                <option value="{{key}}">{{val}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                 </div>
            </div>
            <div class="dataTables_filter">
                <a href="javascript:;" class="btn red" onclick="doSearch()"><i class="icon-search"></i>&nbsp;查询</a>
            </div>
        </form>
        <br/>
    </div>

    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet box grey">
        <div class="portlet-title">
            <div class="caption"></div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>

        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover table-full-width">
                <thead>
                <tr>
                    <th>日期</th>
                    <th class="hidden-phone">消费人数</th>
                    <th>消费次数</th>
                    <th>消费虚拟币</th>
                    <th style="text-align: center">消耗人数</th>
                    <th>消耗次数</th>
                    <th>消耗虚拟币</th>
                </tr>
                </thead>
                <tbody>
                {% for i in 0..dateLine|length-1 %}
                    <tr>
                        <td>{{dateLine[i]}}</td>
                        <td>{{cost[i].costUserNum|default(0)}}</td>
                        <td>{{cost[i].costUserCount|default(0)}}</td>
                        <td>{{cost[i].costTotal|default(0)}}</td>
                        <td>{{get[i].getUserNum|default(0)}}</td>
                        <td>{{get[i].getUserCount|default(0)}}</td>
                        <td>{{get[i].getTotal|default(0)}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="main" style="width:100%;height:400px;"></div>
    <input type="hidden" id="dateLine" value="{{dateLineJson}}" />
    <input type="hidden" id="cost" value="{{costJson}}" />
    <input type="hidden" id="get" value="{{getJson}}" />
</div>
<!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTAINER-->
</div>

{% endblock %}


{% block javascript_plugins %}
<script type="text/javascript" src="/media/js/select2.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/media/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="/media/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/media/js/bootstrap-datepicker.zh-CN.js"></script>
<script type="text/javascript" src="/media/js/echarts/echarts.js"></script>
<script type="text/javascript" src="/media/js/private/chart_datas_diamond_cost.js"></script>
<script type="text/javascript" src="/media/js/common/datas_search_form.js"></script>
{% endblock %}

{% block javascript_custom %}
{% endblock %}