
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="{%block keywords%}{% endblock %}">
    <meta name="description" content="{%block description%}{% endblock %}">
    <meta name="author" content="">

    <!-- Note there is no responsive meta tag here -->

    <title>{%block title%}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ constant('STATIC_HOST') }}/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ constant('STATIC_HOST') }}/css/main.css" rel="stylesheet">
    {% block css %}
    {% endblock %}
</head>

<body>

{% include 'header.html' %}

{% block banner %}
<div class="banner02"></div>
{% endblock %}

<div class="main">
    <div class="container">
        <div class="">
            <div class="row">
                <div class="col-xs-2">
                    <div class="bg-blueD inner">
                        <div class="mainTitle">
                            <h3 class="sTitle">
                                <a href="/service">
                                <span class="icon icon-heart"></span>
                                <span class="bl1">
                                  <span class="uppercase">SERVICE</span><br>客服
                                </span>
                                </a>
                            </h3>
                        </div>
                        <div class="leftSide pt30 pb30 pl10">
                            <ul class="nav nav-pills nav-stacked" role="tablist">
                                <li class="{{fwzn}}"><a href="/service"><span class="icon icon-arrowR-org"></span>服务指南</a></li>
                                <li class="{{zzfw}}"><a href="/service/selfService"><span class="icon icon-arrowR-org"></span>自助服务</a></li>
                                <li class="{{bzzx}}"><a href="/service/helpCenter"><span class="icon icon-arrowR-org"></span>帮助中心</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
        {% block content %}
        {% endblock %}

        {% include 'faq_right_bar.html' %}
    </div> <!-- /container -->
</div>

<div class="">
    <div class="container">
        <div class="footer">
            {% include 'footer.html' %}
        </div>
    </div>
</div>
{% include 'notice.html' %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ constant('STATIC_HOST') }}/js/common/jquery.min.js"></script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="{{ constant('STATIC_HOST') }}/js/bootstrap.min.js"></script>
<script src="{{ constant('STATIC_HOST') }}/js/common/common.js"></script>
{% block script %}
{% endblock %}
</body>
</html>
