<!DOCTYPE html><!--[if IE 8]><html lang="zh-CN" class="ie8"><![endif]--><!--[if IE 9]><html lang="zh-CN" class="ie9"><![endif]--><!--[if !IE]><!--><html lang="zh-CN"><!--<![endif]--><!-- BEGIN HEAD --><head><meta charset="utf-8" /><title>游戏下载</title><meta content="width=device-width, initial-scale=1.0" name="viewport" /><meta name="Keywords" content="游戏下载" /><meta name="Description" content="游戏下载" /><meta name="CopyRight" content="" /><meta name="Author" content="" /><meta name="Build" content="2014-07-25 16:16:07" />
<link rel="start" href="http://16youxi.com" title="Home" />
</head>
<body>
<script>
{% if is_wx %}
window.location.href = "http://a.app.qq.com/o/simple.jsp?pkgname=com.youxi16.MjMobile";
{% elseif is_android %}
window.location.href = 'http://7xnzj3.dl1.z0.glb.clouddn.com/NewbeeHall.apk';
{% elseif is_ios %}
window.location.href = 'https://dn-newbee299.qbox.me/NewbeeHall.plist';
{% endif %}
</script>
</body>
</html>
