<div class="col-xs-4">
    <ul class="nav nav-tabs nav-justified grids" role="tablist">
        <li class="text-center bg-blue"><a>下载专区</a></li>
        <li class="bg-green"><a href="http://7xnzj3.dl1.z0.glb.clouddn.com/NBgame.apk" target="_blank"><span class="icon android"></span></a></li>
        <li class="bg-blueL"><a href="itms-services://?action=download-manifest&url=https://dn-newbee299.qbox.me/Nbgame.plist" target="_blank"><span class="icon apple"></span></a></li>
    </ul>
    <div class="mt10">
        <div class="panel p10 inner">
            <input type="text" id="datetimepicker3"/>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="arrowU"></span><span><span class="icon icon-note"></span>活动内容</span>
                    </h3>
                </div>
                <div class="panel-body text-grey" id="dateText">
                </div>
            </div>
            <div class="panel panel-info mbn">
                <div class="panel-heading">
                    <h3 class="panel-title">客服专区</h3>
                </div>
                <div class="panel-body text-center">
                    <h1 class="phoneNumb">027-59817413</h1>
                    <p><span class="icon icon-qq"></span><a href="http://shang.qq.com/wpa/qunwpa?idkey=a2c99d0ead9365646f48ca626faa26e98e3b2adba1d8038b96f11227f187e414" target="_blank">159573757 新蜂游戏平台</a></p>
                </div>
            </div>
        </div>
    </div>
</div>