{% extends 'basePersonnal.html' %}

{% block title %}
新蜂游戏平台-个人中心
{% endblock %}

{% block keywords %}
新蜂游戏平台-个人中心
{% endblock %}

{% block description %}
新蜂游戏平台-个人中心
{% endblock %}

{% block css %}
<link href="{{ constant('STATIC_HOST') }}/css/formError.css" rel="stylesheet">
{% endblock %}

{% block content %}
                <div class="col-xs-7">
                    <div class="panel p15 inner pb50">
                        <h4 class="mTitle">账号信息</h4>
                        <div>
                            <ul class="nav nav-tabs nav02" role="tablist">
                                <li><a>我的资料</a></li>
                            </ul>
                            <div class="p15">
                                <div class="media">
                                    <a class="pull-left pr20" href="javascript:showAvatarModal()">
                                        <img id="avatar" class="media-object" src="{{user.avatar_path}}" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <p>账号：{{user.login_name}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <p>昵称：{{user.nickname}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <p>性别：{{user.gender}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <p>所在地：<span id="area">{{user.area_name}}</span> <a href="javascript:;" onclick="showChangeArea()" title="修改地区" class="icon icon-edit pull-right"></a></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <p>登录密码：******* <a href="javascript:;" onclick="showChangePwd()" title="修改登录密码" class="icon icon-edit pull-right"></a></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-8">
                                                {% if is_set_purchase == 0 %}
                                                <p>消费密码： <a href="javascript:;" class="text-blueD" onclick="showSetPayPwd()">设置</a></p>
                                                {% else %}
                                                <p>消费密码：******* <a href="javascript:;" onclick="showChangePayPwd()" title="修改消费密码" class="icon icon-edit pull-right"></a></p>
                                                {% endif %}
                                            </div>
                                            {% if is_set_purchase == 1 %}
                                            <div class="col-xs-4"><a href="/user/payPassword" class="text-blueD">找回消费密码</a></div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="nav nav-tabs nav02" role="tablist">
                                <li><a>我的财富</a></li>
                            </ul>
                            <div class="p15">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td width="140"><span class="icon icon-fortune02" title="钻石"></span> {{user.diamond}}</td>
                                        <td width="140"><a href="/payment/prepare/0" class="btn btn-sm btn-danger">购买</a></td>
                                        <td width="140"><img src="/images/icons/chip.png" title="筹码"/>&nbsp;&nbsp;{{user.chip}}</td>
                                       <td width="140"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ul class="nav nav-tabs nav02" role="tablist">
                                <li><a>认证信息</a></li>
                            </ul>
                            <div class="p15">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td><a href="/userAuth/mobile">
                                            {% if userAuth[3]!=1 %}
                                            <img src="{{constant('STATIC_HOST')}}/images/icons/phone-unauth.png" />
                                                手机未认证
                                            {% else %}
                                            <img src="{{constant('STATIC_HOST')}}/images/icons/phone-auth.png" />
                                                手机已认证
                                            {% endif %}
                                        </a></td>
                                        <td><a href="/userAuth/email">
                                            {% if userAuth[2]!=1 %}
                                            <img src="{{constant('STATIC_HOST')}}/images/icons/email-unauth.png" />
                                            邮箱未认证
                                            {% else %}
                                            <img src="{{constant('STATIC_HOST')}}/images/icons/email-auth.png" />
                                            邮箱已认证
                                            {% endif %}
                                        </a></td>
                                        <td><a href="/userAuth/idCard">
                                            {% if userAuth[1]!=1 %}
                                            <img src="{{constant('STATIC_HOST')}}/images/icons/id-unauth.png" />
                                            防沉迷未认证
                                            {% else %}
                                            <img src="{{constant('STATIC_HOST')}}/images/icons/id-auth.png" />
                                            防沉迷已认证
                                            {% endif %}
                                        </a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

<!-- 修改地区 -->
<div class="modal fade" id="changeAreaModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="">修改地区</h4>
            </div>
            <div class="modal-body">
                <div class="p30">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-xs-9">
                                <select name="area" id='area_chg' class="form-control">
                                    {% for item in areas %}
                                    {% if loop.index0 == user.area %}
                                    <option value="{{loop.index0}}" selected="selected">{{item}}</option>
                                    {% else %}
                                    <option value="{{loop.index0}}" >{{item}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="text-center">
                                <button type="button" class="btn btn-info mr15" onclick="changeArea()">确认</button><button type="button" class="btn btn-info" data-dismiss="modal" onclick="$('#changeAreaModal').modal('hide');">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /modal -->

<!-- 修改登录密码 -->
<div class="modal fade" id="changePwdModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="width:600px;display: inline-block">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="">修改登录密码</h4>
            </div>
            <div class="modal-body">
                <div class="p30">
                    <form class="form-horizontal" role="form" id="changePwdForm">
                        <div class="form-group" style="height:80px;">
                            <div class="col-xs-6">
                                <label>原密码</label>
                                <input type="password" id="oldPass" name="oldPass" class="form-control" placeholder="6-16位字母、数字"/>
                            </div>
                        </div>
                        <div class="form-group" style="height:80px;">
                            <div class="col-xs-6">
                                <label>新密码</label>
                                <input type="password" id="newPass" name="newPass" class="form-control" placeholder="6-16位字母、数字"/>
                            </div>
                        </div>
                        <div class="form-group" style="height:80px;">
                            <div class="col-xs-6">
                                <label>确认新密码</label>
                                <input type="password" id="newPass1" name="newPass1" class="form-control" placeholder="6-16位字母、数字"/>
                            </div>
                        </div>
                        </br>
                        <div class="form-group">
                            <div class="text-center">
                                <button type="submit" class="btn btn-info mr15" >确认</button><button type="button" class="btn btn-info" data-dismiss="modal" onclick="$('#changePwdModal').modal('hide');">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /modal -->


<!-- 修改消费密码 -->
<div class="modal fade" id="changePayPwdModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="width:600px;display: inline-block">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="">修改消费密码</h4>
            </div>
            <div class="modal-body">
                <div class="p30">
                    <form class="form-horizontal" role="form" id="changePayPwdForm">
                        <div class="form-group" style="height:80px;">
                            <div class="col-xs-6">
                                <label>原密码</label>
                                <input type="password" id="oldPayPass" name="oldPayPass" class="form-control" placeholder="6-16位字母、数字"/>
                            </div>
                        </div>
                        <div class="form-group" style="height:80px;">
                            <div class="col-xs-6">
                                <label>新密码</label>
                                <input type="password" id="newPayPass" name="newPayPass" class="form-control" placeholder="6-16位字母、数字"/>
                            </div>
                        </div>
                        <div class="form-group" style="height:80px;">
                            <div class="col-xs-6">
                                <label>确认新密码</label>
                                <input type="password" id="newPayPass1" name="newPayPass1" class="form-control" placeholder="6-16位字母、数字"/>
                            </div>
                        </div>
                        </br>
                        <div class="form-group">
                            <div class="text-center">
                                <button type="submit" class="btn btn-info mr15" >确认</button><button type="button" class="btn btn-info" data-dismiss="modal" onclick="$('#changePayPwdModal').modal('hide');">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /modal -->


<!-- 设置消费密码 -->
<div class="modal fade" id="setPayPwdModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="width:600px;display: inline-block">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="">设置消费密码</h4>
            </div>
            <div class="modal-body">
                <div class="p30">
                    <form class="form-horizontal" role="form" id="setPayPwdForm">
                        <div class="form-group" style="height:80px;">
                            <div class="col-xs-6">
                                <label>消费密码</label>
                                <input type="password" id="setPayPass" name="setPayPass" class="form-control" placeholder="6-16位字母、数字"/>
                            </div>
                        </div>
                        <div class="form-group" style="height:80px;">
                            <div class="col-xs-6">
                                <label>确认消费密码</label>
                                <input type="password" id="setPayPass1" name="setPayPass1" class="form-control" placeholder="6-16位字母、数字"/>
                            </div>
                        </div>
                        </br>
                        <div class="form-group">
                            <div class="text-center">
                                <button type="submit" class="btn btn-info mr15" >确认</button><button type="button" class="btn btn-info" data-dismiss="modal" onclick="$('#setPayPwdModal').modal('hide');">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /modal -->


<!-- 选择头像 -->
<div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="">选择头像</h4>
            </div>
            <div class="modal-body">
                <div class="p30">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <a href="javascript:changeAvatar(0)" style="pointer:hand"><img src="{{constant('CDN_PLATFORM_HOST')}}/avatar/{{avatar_name}}/small0.png" width="87" height="85" alt="" class="center-block img-responsive" {% if user.avatar == 0 %}style="border:2px orange solid"{% endif %}></a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="javascript:changeAvatar(1)"  style="pointer:hand"><img src="{{constant('CDN_PLATFORM_HOST')}}/avatar/{{avatar_name}}/small1.png" width="87" height="85" alt="" class="center-block img-responsive" {% if user.avatar == 1 %}style="border:2px orange solid"{% endif %}></a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="javascript:changeAvatar(2)"  style="pointer:hand"><img src="{{constant('CDN_PLATFORM_HOST')}}/avatar/{{avatar_name}}/small2.png" width="87" height="85" alt="" class="center-block img-responsive" {% if user.avatar == 2 %}style="border:2px orange solid"{% endif %}></a>
                        </div>
                        <br/>
                        {% if vip == 1 %}
                        <div class="col-xs-4 text-center">
                            <a href="javascript:changeAvatar(3)" style="pointer:hand"><img src="{{constant('CDN_PLATFORM_HOST')}}/avatar/{{avatar_name}}/small3.png" width="87" height="85" alt="" class="center-block img-responsive" {% if user.avatar == 3 %}style="border:2px orange solid"{% endif %}></a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="javascript:changeAvatar(4)"  style="pointer:hand"><img src="{{constant('CDN_PLATFORM_HOST')}}/avatar/{{avatar_name}}/small4.png" width="87" height="85" alt="" class="center-block img-responsive" {% if user.avatar == 4 %}style="border:2px orange solid"{% endif %}></a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="javascript:changeAvatar(5)"  style="pointer:hand"><img src="{{constant('CDN_PLATFORM_HOST')}}/avatar/{{avatar_name}}/small5.png" width="87" height="85" alt="" class="center-block img-responsive" {% if user.avatar == 5 %}style="border:2px orange solid"{% endif %}></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /modal -->
{% endblock %}
{% block script %}
<script>
    var token = '{{csrf_token}}';
</script>
<script src="{{ constant('STATIC_HOST') }}/js/common/jquery.validate.min.js"></script>
<script src="{{ constant('STATIC_HOST') }}/js/common/md5.min.js"></script>
<script src="{{ constant('STATIC_HOST') }}/js/userinfo.js"></script>
{% endblock %}