
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Note there is no responsive meta tag here -->

    <title>whMaJiang</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
    <script src="js/jquery.js"></script>
    <script src="js/jquery.SuperSlide.2.1.1.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default topNav" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="images/logo.png" alt=""></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a><span class="text-org">arthur</span> 您好！</a></li>
            <li><a href="#"><span class="text-blue">退出</span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="index.html">首页</a></li>
            <li><a href="service.html">客服</a></li>
            <li><a href="store.html">商城</a></li>
            <li><a href="charging.html">充值</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="banner02"></div>

    <div class="main">
      <div class="container">
        <div class="">
          <div class="row">
            <div class="col-xs-2">
              <div class="bg-blueD inner">
                <div class="mainTitle">
                  <h3 class="sTitle">
                    <span class="icon icon-user-w"></span>
                    <span class="bl1">
                      <span class="uppercase">USER</span><br>个人中心
                    </span>
                  </h3>
                </div>
                <div class="leftSide pt30 pb30 pl10">
                  <ul class="nav nav-pills nav-stacked" role="tablist">
                    <li class="active"><a href="user_info.html"><span class="icon icon-arrowR-org"></span>账号信息</a></li>
                    <li><a href="user_order.html"><span class="icon icon-arrowR-org"></span>我的订单</a></li>
                    <li><a href="user_achivement.html"><span class="icon icon-arrowR-org"></span>个人战绩</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-7">
              <div class="panel p15 inner pb50">
                <h4 class="mTitle">账号信息<small class="text-blue"><span class="pl5 pr5 text-grey">|</span>防沉迷认证</small></h4>
                <div>
                  <div class="alert alert-info">
                    <div class="p15 text-center">
                    您的身份证已认证成功！
                    </div>
                  </div>
                  <p>真实姓名：XXXXX</p>
                  <p>身份证号：XXXXX</p>
                  <blockquote class="font14 bg-grey">
                    <div class="p15">
                    <ol>
                      <li>身份证信息一旦绑定将无法修改。</li>
                      <li>身份证号码可以提高您账号的安全性。</li>
                      <li>身份证号码是作为防沉迷系统判定的唯一标准。</li>
                      <li>保护未成年人身心健康，未满18岁的用户将受到防沉迷系统的限制。</li>
                      <li>在进行游戏的过程中，系统会提示您的累计在线时间:<br>
                          <p>累计游戏时间超过 3 小时，游戏收益(经验，金钱)减半。<br>
                          累计游戏时间超过 5 小时，游戏收益(经验，金钱)为零。</p>
                      </li>
                    </ol>
                    </div>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h2 class="panel-title">常见问题 <a class="bg-org">+ 更多</a></h2>
                  </div>
                  <div class="panel-body">
                    <div class="p15">
                      <ul class="list list05">
                        <li class="active"><a href="#">充值遇到问题？</a></li>
                        <li><a href="#">忘记密码？</a></li>
                        <li><a href="#">充值遇到问题？</a></li>
                        <li><a href="#">忘记密码？</a></li>
                        <li><a href="#">充值遇到问题？</a></li>
                      </ul>
                    </div>
                  </div>
              </div>
              <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h2 class="panel-title">客服电话</h2>
                  </div>
                  <div class="panel-body">
                    <div class="p15 pb50">
                      <h2 class="phoneNumb text-blue">400-847-844</h2>
                      <div class="text-center"><span class="icon icon-qq-org"></span>
                          <h4 class="bubble"><span class="arrowL-b"></span>QQ交谈</h4>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- /container -->
    </div>

    <div class="">
      <div class="container">
        <div class="footer">
          <div class="p10 text-center bg-white">
            <div class="links font12">
              <label>健康游戏公告：</label><span class="link">抵制不良游戏</span><span class="link">拒绝盗版游戏</span><span class="link">注意自我保护</span><span class="link">谨防受骗上当</span><span class="link">适度游戏益脑</span><span class="link">沉迷游戏伤身</span><span class="link">合理安排时间</span><span class="link">享受健康生活</span>
            </div>
          </div>
          <div class="p15">
            <div class="row">
              <div class="col-xs-2"><span class="icon logo-nbgame mt15 ml20"></span></div>
              <div class="col-xs-8">
                <div class="links">
                  <a href="#" class="link">关于新峰</a><a href="#" class="link">服务条款</a><a href="#" class="link">未成年人监护</a><a href="#" class="link">联系我们</a>
                </div>
                <span class="pr20">武汉新蜂乐众网络技术有限公司版权所有</span><span class="pr20">Copyright  ©2014 All Rights Reserved NBGame</span>
                <p>鄂ICP备14001438号  网络游戏出版号：ISBN XXX-X-XXXXXX-XX-X </p>
              </div>
              <div class="col-xs-2 text-center">
                <span class="icon icon-wen"></span>
                <p>鄂网文[2014]1195-014号</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.datetimepicker.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
      $(window).load(function() {
        equalheight('.inner');
      });
      $(window).resize(function(){
        equalheight('.inner');
      });
      equalheight = function(container){ 
        var currentTallest = 0, 
        currentRowStart = 0, 
        rowDivs = new Array(), 
        $el, 
        topPosition = 0; 
        $(container).each(function() { 

          $el = $(this); 
          $($el).outerHeight('auto') 
          topPostion = $el.position().top; 

          if (currentRowStart != topPostion) { 
            for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) { 
            rowDivs[currentDiv].outerHeight(currentTallest); 
          } 
            rowDivs.length = 0; // empty the array 
            currentRowStart = topPostion; 
            currentTallest = $el.outerHeight(); 
            rowDivs.push($el); 
          } else { 
            rowDivs.push($el); 
            currentTallest = (currentTallest < $el.outerHeight()) ? ($el.outerHeight()) : (currentTallest); 
          } 
            for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) { 
            rowDivs[currentDiv].outerHeight(currentTallest); 
          } 
        }); 
      } 
    </script>
  </body>
</html>
